@import "../../vendor/wire-elements/pro/resources/css/tailwind/overlay-component.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.wep-modal-content,
.wep-slide-over-container-inner-wrap {
    @apply motion-reduce:transition-none;
}

@layer utilities {
    .dark-light-text {
        @apply text-gray-600 dark:text-slate-300;
    }
}

[x-cloak] {
    display: none !important;
}
